/***custom.css***/
body{
background-color:#dfdfdf;
}
.white{color:#ffffff;}.font-sm{font-size:12px;}.font-lg{font-size:16px;}.font-md{font-size:4px;}.text-underline{text-decoration:underline;}.text-bold{font-weight:800;}
